.example-form-field {
    width: 20%;
    height: 53px;
  }

  .month {
    width: 80%;
    height: 53px;
  }

  .loc {
    width: 100%;
    height: 53px;
  }
  .prsid {
    width: 100px;
    height: 53px;
  }