<section class="vh-100">
    <div class="container h-100 d-flex flex-column align-items-center justify-content-center">
        <div class="row justify-content-center pt-lg-4 text-center mb-5">
            <div class="col-12">
                <img class="img-fluid" src="assets/img/404.png" alt="404 Error">
                <h1 class="h3">{{ 'errors.404Page' }}</h1>
                <h3 class="h5 fw-normal mb-4">{{ 'errors.404PageDescription' }}</h3>
            </div>
        </div>
        <div class="row justify-content-center w-100">
            <div class="col-lg-12 col-xl-10 col-xxl-9">
                <div class="row">

                    <div class="col-sm-6 col-lg-4 mb-3">
                        <a class="card h-100 border-0 shadow text-reset" >
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/favicon.ico" />
                                    <div class="ps-3">
                                        <h5 class="fs-sm mb-0">
                                            {{ 'login' }} {{ 'siteName'  }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-3">
                        <a class="card h-100 border-0 shadow text-reset" >
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/favicon.ico" />
                                    <div class="ps-3">
                                        <h5 class="fs-sm mb-0">
                                            {{ 'modules.dashboard'  }} {{ 'siteName'  }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                    <div class="col-sm-6 col-lg-4 mb-3">
                        <a class="card h-100 border-0 shadow text-reset" href="https://farzansystem.com/">
                            <div class="card-body">
                                <div class="d-flex align-items-center">
                                    <img src="assets/img/favicon.ico" />
                                    <div class="ps-3">
                                        <h5 class="fs-sm mb-0">
                                            {{ 'companyName'  }}
                                        </h5>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>