<div class="p-1">
    <div class="card col-8 mx-auto d-flex flex-cloumn justify-content-between" style="height: 80vh;">
        <div class="card-header">
             سند حسابداری
        </div>
        <div class="p-1 d-flex flex-column flex-sm-row">
            <div class="w-25">
                <div class="p-1">
                    <mat-form-field appearance="outline" class="month">
                        <mat-label>سال</mat-label>
                        <mat-select>
                            <mat-option value="option1">فروردین</mat-option>
                            <mat-option value="option2">اردیبهشت</mat-option>
                            <mat-option value="option3">خرداد</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="p-1">
                    <mat-form-field appearance="outline" class=" month">
                        <mat-label>شماره سند </mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div class="p-1">
                    <mat-form-field appearance="outline" class="month">
                        <mat-label>ثبت کننده</mat-label>
                        <mat-select>
                            <mat-option value="option1">فروردین</mat-option>
                            <mat-option value="option2">اردیبهشت</mat-option>
                            <mat-option value="option3">خرداد</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="p-1">
                    <mat-form-field appearance="outline" class="month">
                        <mat-label>تایید کننده</mat-label>
                        <mat-select>
                            <mat-option value="option1">فروردین</mat-option>
                            <mat-option value="option2">اردیبهشت</mat-option>
                            <mat-option value="option3">خرداد</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="w-25">
                <div class="p-1">
                    <mat-form-field appearance="outline" class="month">
                        <mat-label>شعبه</mat-label>
                        <mat-select>
                            <mat-option value="option1">فروردین</mat-option>
                            <mat-option value="option2">اردیبهشت</mat-option>
                            <mat-option value="option3">خرداد</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="p-1">
                    <mat-form-field appearance="outline" class=" month">
                        <mat-label> مرجع </mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div class="p-1">
                    <mat-form-field appearance="outline" class="month">
                        <mat-label> تاریخ ثبت</mat-label>
                        <mat-select>
                            <mat-option value="option1">فروردین</mat-option>
                            <mat-option value="option2">اردیبهشت</mat-option>
                            <mat-option value="option3">خرداد</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="p-1">
                    <mat-form-field appearance="outline" class="month">
                        <mat-label>تاریخ تایید</mat-label>
                        <mat-select>
                            <mat-option value="option1">فروردین</mat-option>
                            <mat-option value="option2">اردیبهشت</mat-option>
                            <mat-option value="option3">خرداد</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
            <div class="w-50">
                <div class="p-1">
                    <mat-form-field appearance="outline" class="month">
                        <mat-label>سیستم صادر کننده</mat-label>
                        <mat-select>
                            <mat-option value="option1">فروردین</mat-option>
                            <mat-option value="option2">اردیبهشت</mat-option>
                            <mat-option value="option3">خرداد</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="p-1">
                    <mat-form-field appearance="outline" class=" month">
                        <mat-label> وضعیت </mat-label>
                        <input matInput type="text">
                    </mat-form-field>
                </div>
                <div class="p-1">
                    <mat-form-field appearance="outline" class="month">
                        <mat-label> توضیحات </mat-label>
                        <mat-select>
                            <mat-option value="option1">فروردین</mat-option>
                            <mat-option value="option2">اردیبهشت</mat-option>
                            <mat-option value="option3">خرداد</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="p-1">
                    <mat-form-field appearance="outline" class="month">
                        <mat-label>توضیحات لاتین</mat-label>
                        <mat-select>
                            <mat-option value="option1">فروردین</mat-option>
                            <mat-option value="option2">اردیبهشت</mat-option>
                            <mat-option value="option3">خرداد</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </div>
        </div>
        <hr style="margin: 0px">
        <div class="p-1" style="height:50vh;">
            <app-admin-grid [columnsgrid]="columnDefs" heightGrid="100%" [datagrid]="rowData"></app-admin-grid>
        </div>
    </div>
</div>