<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="card ">
    <div class="card-header d-flex justify-content-between">
      <div class="p-1">جزییات</div>
      <div>
        <button [disabled]="!form.valid" class="btn btn-primary btn-sm mx-1" type="submit" [mat-dialog-close]="form.value" cdkFocusInitial
          (click)="onSubmit()">تایید</button>
        <!-- <button mat-raised-button m color="primary" class="m-1">انصراف</button> -->
        <button mat-button (click)="onNoClick()">انصراف</button>
      </div>
    </div>

    <div class="p-1">

      <mat-form-field appearance="outline" class="p-1">
        <mat-label>کد </mat-label>
        <input matInput type="number" formControlName="IndustryID">
      </mat-form-field>
      <mat-form-field appearance="outline" class="p-1">
        <mat-label>نام </mat-label>
        <input matInput type="text" formControlName="IndustryName">
      </mat-form-field>
      
      <app-dropdown [matselectdata]="matselectdata" formControlName="Month"></app-dropdown>

      <app-autocomplete [require]="true" [optionsData]="options" formControlName="Year"></app-autocomplete>
      <app-autocomplete [require]="true" [optionsData]="options" formControlName="Year1"></app-autocomplete>
      <app-chips [require]="true" [items]="fruits" formControlName="GroupNew"></app-chips>
      <app-date-picker [require]="true" formControlName="BeginDate"></app-date-picker>



    </div>
  </div>
</form>