<form >
<mat-form-field appearance="outline" class="p-1">
    <mat-label>سال</mat-label>
    <input type="text" placeholder="سال انتخابی" aria-label="Number" 
     matInput  
     [formControl]="inputControl"
      [matAutocomplete]="auto"
      (focus)="onFocus()"
      (input)="chnagevalue($event)"
      >
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete"  (closed)="onTouch()" (optionSelected)="onChange($event)">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option" >
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
