<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="card ">
    <div class="card-header d-flex justify-content-between">
      <div class="p-1">جزییات</div>
      <div>
        <button [disabled]="!form.valid" class="btn btn-primary btn-sm mx-1" type="submit"
          [mat-dialog-close]="form.value" cdkFocusInitial (click)="onSubmit()">تایید</button>
        <!-- <button mat-raised-button m color="primary" class="m-1">انصراف</button> -->
        <button mat-button (click)="onNoClick()">انصراف</button>
      </div>
    </div>

    <div class="p-1">

      <ng-container *ngFor="let item of properties">
        <mat-form-field appearance="outline" class="p-1">
          <mat-label>کد </mat-label>
          <input matInput [formControlName]="item">
        </mat-form-field>
      </ng-container>
    </div>
  </div>
</form>