<mat-toolbar color="primary" class="toolbar d-flex justify-content-between">

    <div>
      <button mat-button [matMenuTriggerFor]="aboveMenu">فرمها</button>
      <mat-menu #aboveMenu="matMenu" yPosition="above">
        <button mat-menu-item [routerLink]="['/sample1']">مثال اصلی</button>
        <button mat-menu-item [routerLink]="['/sample2']">مثال 2</button>
        <button mat-menu-item [routerLink]="['/fish']">فیش حقوقی</button>
        <button mat-menu-item [routerLink]="['/acc']">سند حسابداری </button>
      </mat-menu>
  
      <button mat-button [matMenuTriggerFor]="belowMenu">Below</button>
      <mat-menu #belowMenu="matMenu" yPosition="below">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
  
      <button mat-button [matMenuTriggerFor]="beforeMenu">Before</button>
      <mat-menu #beforeMenu="matMenu" xPosition="before">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  
    <div>
      <button mat-button [matMenuTriggerFor]="afterMenu">After</button>
      <mat-menu #afterMenu="matMenu" xPosition="after">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
      </mat-menu>
    </div>
  </mat-toolbar>