<form [formGroup]="form">
  <div class="d-flex mx-auto flex-row justify-content-start">

    <div class="col-8 p-1">
      <div class="card">

        <div class="card-header p-1 d-flex">
          <div class="px-2" style="font-weight:bold;">
            <p>لیست </p>
          </div>
        </div>
        <div style="height: 80vh;">
          <app-admin-grid (selectedRow)="selectedRow($event)" (refreshdata)="refresh($event)" heightGrid="100%"
            [datagrid]="rowData" [columnsgrid]="columnDefs">
          </app-admin-grid>
        </div>
      </div>
    </div>

    <div class="col-3 p-1">
      <div class="card">
        <div class="card-header p-1 d-flex align-items-baseline justify-content-between ">
          <div class="px-2" style="font-weight:bold;">
            <p>جزییات </p>
          </div>
          <div>
            <button class="btn btn-primary btn-sm mx-1" type="submit" (click)="onSubmit()">تایید</button>
            <button mat-raised-button m color="primary" class="m-1">انصراف</button>
          </div>
        </div>
        <mat-form-field appearance="outline" class="p-1">
          <mat-label>کد </mat-label>
          <input matInput type="number" formControlName="IndustryID">
        </mat-form-field>
        <mat-form-field appearance="outline" class="p-1">
          <mat-label>نام </mat-label>
          <input matInput type="text" formControlName="IndustryName">
        </mat-form-field>
        <mat-form-field appearance="outline" class="p-1">
          <mat-label>ماه</mat-label>
          <mat-select [(value)]="defaultSelect">
            <mat-option *ngFor="let data of matselectdata" [value]="data.id">{{data.name}}</mat-option>
          </mat-select>
        </mat-form-field>

        <div>
          <app-autocomplete *ngFor="let item of autocompletedata; let i= index" (data)="getdatacompelete($event)"
            [value]="item" [id]="i"></app-autocomplete>
        </div>

        <app-autocomplete></app-autocomplete>

        <!-- <app-autocomplete (data)="getdatacompelete($event)" [value]="autocompelete1" ></app-autocomplete> -->
        <!-- <mat-form-field appearance="outline" class="p-1">
          <mat-label>گروه</mat-label>

          <mat-select formControlName="Group" multiple>

            <mat-select-trigger>
              <mat-chip-list>
                <mat-chip *ngFor="let item of form.controls.Group.value" [removable]="true"
                  (removed)="onChipRemoved(item, form.controls.Group)">
                  {{ item }}
                  <button class="btn-close" matChipRemove></button>
                </mat-chip>
              </mat-chip-list>
            </mat-select-trigger>

            <mat-option *ngFor="let item of groupItem " [value]="item">
              {{item}}
            </mat-option>

          </mat-select>
        </mat-form-field> -->

        <mat-form-field appearance="outline" class="p-1">
          <mat-label>گروه</mat-label>
          <mat-chip-list #chipList multiple="true">
            <mat-chip *ngFor="let fruit of fruits" [value]="fruit.name" [selected]="fruit.selected"
              (click)="onSelectFruit(fruit)">
              {{fruit.name}}
            </mat-chip>
          </mat-chip-list>
        </mat-form-field>

        <mat-form-field appearance="outline" class="p-1">
          <mat-label>تاریخ شروع</mat-label>
          <input matInput [min]="MinDate" [matDatepicker]="picker6" [value]="aDate" placeholder="تاریخ شروع"
            (dateInput)="onInput($event)" (dateChange)="onChange($event)">
          <mat-datepicker-toggle matSuffix [for]="picker6" style="transform: translate(0px, 6px) !important;">
          </mat-datepicker-toggle>
          <mat-datepicker #picker6></mat-datepicker>
        </mat-form-field>




      </div>
    </div>

  </div>
</form>